* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* HERO IMAGE */
.hero-bg {
  display: flex;
  background-image: url(./images/landing.png);
  background-position: center;
  background-size: cover;
  width: 1448px;
  height: 902px;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 1440px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.home {
  display: flex;
  width: 392px;
  gap: 24px;
  flex-direction: row;
  font-size: 18px;
}
.en {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #09090b;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 394px;
  font-size: 80px;
  border: #09090b;
  color: white;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 169px;
  padding-left: 1oopx;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pure {
  color: #e8edf2b8;
}
/* <!-- LOCATION CONTAINER --> */
.location-bg {
  display: flex;
  background-image: url(./images/location.png);
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 1448px;
  height: 500px;
  margin: 0 auto;
  gap: 51px;
}
.card-1 {
  display: flex;
  background-image: url(./images/image-4.png);
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 276px;
  height: 370px;
  border-radius: 40px;
  text-align: center;
  color: #fdfdfecc;
  font-size: small;
  box-shadow: 5px 5px #1f72aa75, -10px -10px #29728b40;
}
.card-bg-1 {
  background-image: url(./images/image-4.png);
}
.card-bg-2 {
  background-image: url(./images/image-3.png);
}
.card-bg-3 {
  background-image: url(./images/image-2.png);
}
.card-bg-4 {
  background-image: url(./images/image.png);
}
/* ROADMAP CONTAINER */
.road-map-bg {
  width: 1448px;
  height: 902px;
  display: flex;
  flex-direction: column;
  background-image: url(./images/map.png);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  justify-content: space-between;
}

.head {
  width: 1448px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}
.destination {
  size: 42px;
  font-weight: 600;
}
.pack {
  columns: #18181bb2;
  font-size: 20px;
  font-weight: 500;
}
.content {
  width: 1200px;
  height: 640px;
  display: flex;
  position: relative;
  justify-content: space-between;
  justify-content: center;
}
.left {
  display: flex;
  width: 513px;
  height: 640px;
  flex-direction: column;
  gap: 20px;
}
.right {
  display: flex;
  width: 513px;
  height: 640px;
}
.h1-bg-1 {
  background-color: #eee9d9;
  display: flex;
}
.h1-bg-2 {
  background-color: #8bb8c1cc;
}
.h1-bg-3 {
  background-color: #aad8d7cc;
}
.h1-bg-4 {
  background-color: #8bc0bdcc;
}
.h1-bg-5 {
  background-color: #97cce0cc;
}
.h1-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;

  color: #09090b;
}
.pin {
  display: flex;

  flex-direction: column;
}
h4 {
  font-size: 24px;
}
.icon {
  display: flex;
  gap: 12px;
}
.h1 {
  display: flex;
  width: 513px;
  height: 112px;
  border-radius: 120px;
  justify-self: center;
  align-items: center;
}
.day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f6f3;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 14px;
}
.hidden {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
}
.h1:hover + .hidden {
  display: block;
}
.h1:hover {
  border: 5px white solid;
  border-radius: 120px;
}

.hidden2 {
  display: none;
  position: absolute;
  right: 300px;
  top: -30px;
}
.h1:hover + .hidden2 {
  display: block;
}
.hidden3 {
  display: none;
  position: absolute;
  right: 200px;
  top: 100px;
}
.h1:hover + .hidden3 {
  display: block;
}
.hidden4 {
  display: none;
  position: absolute;
  right: 350px;
  top: -30px;
}
.h1:hover + .hidden4 {
  display: block;
}
.hidden5 {
  display: none;
  position: absolute;
  right: 250px;
  top: -100px;
}
.h1:hover + .hidden5 {
  display: block;
}

/* .container {
  border: 1px solid red;
  height: 00px;
  position: relative;
}

p {
  display: none;
  position: absolute;
  right: 0;
}

h1:hover + p {
  display: block;
} */

/* PRICER&FOOTER SECTION */
.footer-bg {
  width: 1440px;
  /* height: 1120px; */
  display: flex;
  flex-direction: column;
  background-image: url(./images/Price&Footer\ image.png);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  gap: 24px;
}
.triple-container {
  width: 1440px;
  /* height: 1120px; */
  display: flex;
  gap: 24px;
  justify-content: center;
}
.package {
  width: 384px;
  height: 527px;
  display: flex;
  flex-direction: column;
  background-color: #fafbfc;
  border-radius: 40px;
  justify-content: space-around;
}
.pack-head {
  display: flex;
  gap: 16px;
  /* border: 1px solid black; */
  width: 384px;
  height: 92px;
  justify-content: center;
  align-self: center;
  padding: 39px 100px 31px 30px;
}

h2 {
  font-size: 18px;
  color: #121316;
}
.package-content {
  width: 384px;
  height: 435px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.money {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #303030;
  padding-top: 12px;
  padding-left: 24px;
}
.include {
  width: 336px;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 15px;
  padding-left: 24px;
  padding-right: 24px;
}
.small-check {
  display: flex;
  gap: 20px;
}
.select {
  display: flex;
  background-color: #a4d1e2;
  width: 336px;
  height: 48px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  margin-top: 34px;
}
.last {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 204px;
  background-color: #9fc6de;
  margin: 0 auto;
  font-size: 18px;
  color: #6972b5;
  justify-content: space-between;
  padding: 80px 120px 80px 120px;
}

.facebook {
  display: flex;
  background-color: #fafbfc;
  flex-direction: row-reverse;
  width: 167px;
  height: 44px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* WHY IT'S NOT WORKING? */
.mont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font: weight 700px;
  font-style: normal;
}
